.form-container {
  background-color: rgb(0 0 255);
  border-radius: 4px;
  padding: 10px 20px;
  width: 300px;
  margin: 0 auto;
  font-weight: bold;
}

label {
  margin: 20px;
  color: white;
  font-weight: bolder;
  font-size: 1.2rem;
}

input,
textarea {
  width: 100%;
  padding: 7px;
  margin-bottom: 10px;
  border-radius: 5px;
}

button {
  Background-color: #000;
  color: #fff;
  font-size: 1rem;
  padding: 10px;
  border-radius: 4px;
  text-align: center;

}

button [type="submit"] {
  margin: auto;
}

button:hover {
  background-color: blue;
  color: black;
}