:root {
  --color0: #0FFFF0;
  --color1: #00FF00;
  --color2: #0000FF;
  --color3: #FFFF00;
  --color4: #FF00FF;
  --color5: #FF0000;
  --solid-border: 4px solid black;
  --dashed-border: 4px dashed black;
}

.available-0 {
  background-color: var(--color0);

}

.available-1 {
  background-color: var(--color1);
}

.available-2 {
  background-color: var(--color2);
}

.available-3 {
  background-color: var(--color3);

}

.available-4 {
  background-color: var(--color4);
}

.available-5 {
  background-color: var(--color5);
}

.sharp td {
  border-bottom: var(--solid-border);

}

.half td {
  border-bottom: var(--dashed-border);

}

#legend-gradient {
  width: 100px;
  height: 10px;
  border: 2px solid black;
  background-image: linear-gradient(90deg,
      var(--color0) 0%,
      var(--color0) 16%,
      var(--color1) 16%,
      var(--color1) 33%,
      var(--color2) 33%,
      var(--color2) 50%,
      var(--color3) 50%,
      var(--color3) 66%,
      var(--color4) 66%,
      var(--color4) 83%,
      var(--color5) 83%,
      var(--color5) 100%);
}